
.style{
    text-align: center;
    align-items: center;
}
.search{
    display: inline-block;
    padding: 11px 15px;
    border-radius: 25px;
    box-shadow: 0px 8px 25px 0px rgba(0,0,0,.05);
    transition: all .25s ease;
    min-width: 250px;
}
.waves{
    position: absolute;
    width: 100%;
    bottom: 0;
} 
.listItem{
    margin: 0 16px 32px 16px;
    width: 25%;
    flex: 1 0 25%;
}
.logo{
    display: flex;
    flex-wrap: wrap;
}
section{
    padding : 4em 0;
}
.image{
    opacity: 1;
    margin: 0 auto;
    display: block;
}
ul{
    list-style: none;
}
  
.homeImage{
   width: 100%;
   overflow: hidden;
}
@media only screen and (min-width: 1440px) {
    /* styles for MacBook Pro-sized screens and larger */
    .logo{
        display: flex;
        flex-wrap: wrap;
    }
}


@media only screen and (min-width: 1200px) {
    /* styles for wide screens */
    .logo{
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 320px) {
    /* styles for narrow screens */
    .logo{
        display: flex;
        flex-wrap: wrap;
    }
}