body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.34;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,h2{
  font-family: 'Kanit', sans-serif;
  color: #007882;
 }
 /* .navbar{
   background-color:white;
 } */
 ul{
   list-style: none;
   display: flex;
 }
 
 a.mr-auto.navbar-brand{
  font-family: 'Kanit', sans-serif;
  color: #007882;
 }
 img{
  border-radius: 5px;
  width: 50%;
 }
 a.nav-link,h{
  font-family: 'Kanit', sans-serif;
 }

button.btn.btn-secondary{
  background-color: white;
  border-color: #007882;
  color: #007882;
}
button.mr-2.navbar-toggler{
  color: #007882;
}
.authentication{
  display: flex;
  padding:  0 1.5em 0 1.5em;
}
.registerandLoginForm{
  border-color: #007882;
  margin-left: 2em;
}
h6,input,button.btn.btn-secondary{
  font-family: 'Kanit', sans-serif;
  color: #007882;
}
footer p {
  font-size: .75rem;
  text-align: center; 
  margin-top: 3em;
  padding-top: 50px;
  font-family: 'Kanit', sans-serif;
  color: #007882;
} 

.vicinageHelpText{
  font-weight: bold;
  font-size: 20px;
  line-height: 1.05;
}
input[type=text]:focus, input[type=password]:focus{
  border: 3px solid #007882; ;
}
